<footer class="bg-black ph3 pv4 white">

	<div class="mw7 center pt3">

		<div class="measure-narrow center mb4">

			<img src="/img/logo.svg" alt="PEAK logo" class="db w4 center mb4 br0">
			<p class="f3 lh-title light-gray b tc mb2">Newsletter subscribe</p>
			<p class="mt0">Opt-in to news from us in your inbox. You will be invited to receive our news through a Google Groups mailing list.</p>

			{{ partial "newsletter-form" . }}

		</div>

		<div class="flex-ns justify-between">

			<div>
				<h3 class="f4 b lh-title mt0 mb1 primary">PEAK</h3>
				<ul class="list mt0 mb3 pl0">
					<li><a href="/" class="link">Home</a></li>
					<li><a href="/overview" class="link">Overview</a></li>
					<li><a href="/activities" class="link">Activities</a></li>
					<li><a href="/post" class="link">Blog</a></li>
					<li><a href="/contact" class="link">Contact</a></li>
				</ul>
			</div>

			<div>
				<h3 class="f4 b lh-title mt0 mb1 primary">Find out more</h3>
				<ul class="list mt0 mb3 pl0">
					<li><a href="/post/jamaica-blue/" class="link">Join Us!</a></li>
					<li><a href="/contact" class="link">Requests for Information</a></li>
				</ul>
			</div>

			<div>
				<h3 class="f4 b lh-title mt0 mb2 primary">Social media</h3>
				<ul class="mhn2 mv0 pl0">
					{{ partial "social-icon" (dict "link" "#" "svg" "facebook") }}
					{{ partial "social-icon" (dict "link" "#" "svg" "twitter") }}
					{{ partial "social-icon" (dict "link" "#" "svg" "instagram") }}
				</ul>
			</div>

		</div>
	</div>

</footer>

{{ partial "svg" . }}

<script src="/app.js"></script>

</body>

</html>
