{{ partial "head" . }}

{{ partial "nav" . }}

<div class="ph3 bg-off-white">
	<div class="center mw6 pv3">

		<img src="/img/logo.svg" alt="PEAK Council" class="db w4 center pv4">

		<p class="mt0">We’re always available to hear your ideas and questions. We strive to grow and improve constantly and your feedback is valuable.</p>

		<h3 class="f4 b lh-title mt0 mb2">How can I get…?</h3>
		<p class="mt0">You can also use the form below for any inquiries about availability, media and information request, and scheduling a 1-on-1 session with any of the members. Don’t be shy!</p>

		<div class="flex-ns mb3">

			<div>
				<h4 class="f4 b lh-title mt0 mb2 primary">Location</h4>
				<p class="mt0">3-8-1 Komaba Meguro-ku, Tokyo, Japan 153-0041 // Attn: PEAK Student Council</p>
			</div>

			<div>
				<h4 class="f4 b lh-title mt0 mb2 primary">Working hours (email)</h4>
				<p class="mt0">Monday – Friday: 11AM – 6PM. Responses not usually given on Weekends and National Holidays.</p>
			</div>

		</div>

		{{ partial "contact-form" . }}

	</div>
</div>

{{ partial "footer" . }}
