{{ partial "head" . }}

{{ partial "nav" . }}

{{ partial "jumbotron" (dict "imageUrl" "/img/home/jumbotron.jpg" "title" "Happenings at the University of Tokyo, Komaba" "subtitle" "Know what your Student Council is up to") }}

{{ partial "short-text" (dict "heading" "Why this website?" "text" "PEAK Student Council believes that we should not only work for the improvement of PEAK, but also be transparent about how we go about doing that. We will work on uploading our activities to this website so that all stakeholders (PEAK students and professors, administrators, and all other interested parties) may better understand what we do.")}}

{{ partial "2-up" (dict "heading" "What you will find here" "description" "While we work on a variety of projects around the school - the Komaba Festival in Autumn and Yearbook creation in spring are our two largest undertakings each year. We take this work seriously and we’re happy to share news about each with anyone." "svg1" "img/illustrations/komabafes69.jpg" "text1" "The Komaba Festival is our yearly chance to have fun while showing off our internationalism. This year we will be cooking twisted potatoes, topped with spices from 5+ countries. Check our post or contact us for more information." "svg2" "/img/illustrations/yearbook.jpg" "text2" "We have only done it for a few years, but PEAK students have carefully curated memories from their photo albums and helped us write up and print a yearbook. While it showcases the Senior year most prominently, it offers photos of every student and group photos between all years." "buttonText" "See our overview" "buttonLink" "/overview"  ) }}

{{ partial "text-and-image" (dict "heading" "Our activities" "text" "PEAK Student Council actively particpates in events to improve the teaching and living quality of its representative student body. Amongst such activities are Faculty Development Staff meetings, the PEAK Houses at the dorm, and collaborations with other International Student-clubs." "buttonText" "Read more" "buttonLink" "/activities") }}

{{ partial "blog" . }}

{{ partial "footer" . }}
